.center {
  width: 60%;
  margin: auto;
}

.center h1 {
  font-size: 110px;
  font-weight: 500;
  margin: 80px 0 80px 0;
  text-decoration: underline;
}

.imgBlock {
  display: flex;
  width: 100%;
  margin: 40px 0 40px 0;
}

.imgBlock > img {
  width: 50%;
  margin: 4px;
}

.sign {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 100px;
}