.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuItem {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight:700;
}