.layout {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 1fr 0.2fr auto auto auto;
  grid-row-gap: 60px;
  grid-column-gap: 30px;
  height: 100vh;
  grid-template-areas:
    '. header header header header .'
    '. statement statement statement statement .'
    'video video video video video video'
    '. body body body body .'
    '. people people people people .'
    '. footer footer footer footer .';
}

.center {
  width: 80%;
  margin: auto;
}

.title {
  font-size: 140px;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: normal;
}

.punchline {
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

.overlay {
  /* animation: colorFlux 40s infinite alternate; */
}

.titleContainer {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBlock {
  width: 320px;
}

.who {
  grid-column-start: statement;
}

.textBlock1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.textBlock2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.bio {
  text-align: justify;
}

.person1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.person2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}

.person1,
.person2 {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.videoWrapper {
  grid-area: video;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white 0%, transparent 45%);
  z-index: 100;
}

.event {
  overflow: hidden;
}

.eventImg {
  position: absolute;
  width: 368px;
  height: 368px;
  left: 776px;
  top: 1050px;

  background: url(https://s3-alpha-sig.figma.com/img/7a99/1c15/e1e9598944358febf6488cc2851a1aca?Expires=1584921600&Signature=bbrUFXHCIvuhSFB6SLVQzwDqUtHvy8FZc42v6zY8PqU0c5tV8D2U2l8GLNT5nWytgabKJU8asLElO7~M4~CEMBnKTfWgFDsitmFvtNWrxGQq0IBdqyE0cSGw0v76aRtiu8wNKVUu3alNDOOhDDWe~3PlS4pgRatSlZWItZKcxpN~p79-lYBtghIM~tTFnY6BWSgznYEPM3NSu3oLuf5CJNIOCR6N25nLshltHtu5CG1H3nOH~X77k1ttU-vxaxQ1JZN1VGjdEd7bNOPa33BpZvxtEGPvhXzw-Z8NIRDgMqncKDDlU7ZIHxcdPbHkRpX634l9quxxLkpIutSnt98pYg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
}

@keyframes colorFlux {
  0% {
    filter: hue-rotate(180deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(180deg);
  }
}
