.container {
  margin-top: 40px;
  overflow: hidden;
}

.input {
  font-size: 16px;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 2px solid #999;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  letter-spacing: 3px;
  outline: none;
  border-radius: 0;
}

.valid {
  border-bottom-color: #2be9c6 !important;
}

@media (max-width: 768px) {
  .input {
    font-size: 16px;
  }
}
