.input {
  margin-top: 20px;
}

.submitButton, .successMessage {
  margin-top: 40px;
}

.apiError {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 758px) {
  .submitButton {
    width: 100%;
  }
}