.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  font-size: 20px;
}

.footer > div {
  margin: 40px;
}

.rightBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBlock a {
  margin-left: 10px;
}

@media (max-width: 758px) {
  .footer {
    height: 70px;
  }

  .footer * {
    margin: 12px;
  }

  .footer > div {
    margin: 10px;
  }
}
