@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
  font-size: 120px;
  margin: 0px;
  text-shadow: 4px 4px #0039ff;
}

h2 {
  font-size: 23px;
  margin: 0px;
  letter-spacing: 3px;
  margin-top: -20px;
  /* text-align: right; */
  text-shadow: 2px 2px #0039ff;
}

body {
  margin: 0px;
  font-family: 'Roboto';
  /* color: white; */
}
